<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Jul 02 2015 01:09:27 GMT+0000 (UTC) -->
<html data-wf-site="5588e8bd52a311f7085f67e3" data-wf-page="559467702ba54dd65c1996e9">
<head>
  <meta charset="utf-8">
  <title>SIgn Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/officialtrapapp.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Oswald:300,400,700","Droid Sans:400,700","Roboto:300,regular,500"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body class="subody">
  <div class="w-section su-section">
    <div class="w-container sucontainer">
      <div class="sudiv">
        <h1 class="su-header">Sign-up</h1>
      </div>
    </div>
  </div>
  <div class="w-section signupinputsection"></div>
  <div class="w-container">
    <div class="w-form suformwrapper">
      <form class="suform" id="email-form" name="email-form" data-name="Email Form">
        <label class="sulabels" for="first_name">First Name:</label>
        <input class="w-input suinputs" id="first_name" type="text" placeholder="First Name" name="first_name" data-name="first_name" required="required">
        <label class="sulabels" for="last_name">Last Name:</label>
        <input class="w-input suinputs" id="last_name" type="email" placeholder="Last Name" name="last_name" data-name="last_name" required="required">
        <label class="sulabels" for="username">Username:</label>
        <input class="w-input suinputs" id="username" type="text" placeholder="Username" name="username" data-name="username">
        <label class="sulabels" for="password">Password:</label>
        <input class="w-input suinputs" id="password" type="text" placeholder="Password" name="password" data-name="password" required="required">
        <label class="sulabels" for="verify_password">Verify Password:</label>
        <input class="w-input suinputs" id="verify_password" type="text" placeholder="Verify Password" name="verify_password" data-name="verify_password" required="required">
        <label class="sulabels" for="email">Email:</label>
        <input class="w-input suinputs" id="email" type="text" placeholder="Email" name="email" data-name="email" required="required">
        <label class="sulabels" for="location">Location:</label>
        <input class="w-input suinputs" id="location" type="text" placeholder="Location" name="location" data-name="location" required="required">
        <label class="sulabels" for="display_name">Display Name:</label>
        <input class="w-input suinputs" id="display_name" type="text" placeholder="Display Name" name="display_name" data-name="display_name" required="required">
        <label class="sulabels" for="genre">Genre:</label>
        <input class="w-input suinputs" id="genre" type="text" placeholder="Genre" name="genre" data-name="genre" required="required">
        <input class="w-button subutton" type="submit" value="Submit" data-wait="Please wait...">
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>